.noteWrapper {
  width: 100%;
  min-height: 400px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 3px 4px 5px black;
  background-color: rgba(164, 134, 0, 0.7);
  overflow: hidden;
  .notePanel {
    display: flex;
    justify-content: space-around;
      text-align: right;
      border-bottom: 1px solid black;
    .noteNumber {
      font-size: 25px;
    }
  }
  .noteText {
    text-align: left;
    overflow: scroll;
    min-height: 300px;
    margin-top: 5px;
    word-break: break-all;
    padding: 10px 5px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    font-family: sans-serif;
  }
  .updateBox {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .updateText {
      width: 100%;
      font-size: 20px;
      text-align: left;
      padding: 10px;
      height: 300px;
      outline: none;
      border: 1px solid black;
      border-radius: 10px;
      background-color: rgba(164, 134, 0, 0.3);
    }
  }
  .tagsBox {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    list-style-type: none;
    align-items: center;
    margin-left: 10px;
    > li {
      font-weight: bold;
      color: blue;
      word-wrap: break-word;
    }
  }
}

.button {
  background-color: rgba(164, 134, 0, 0.0);
  outline: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: .5s;
  &:hover {
    transform: scale(1.2);
  }
}